.date {
	position: relative;
	display: flex;
	margin: 0 auto;
	padding-top: 80px;
	gap: 100px;
	font-weight: 800;
}

.leftDate {
	font-size: 200px;
	color: #5D5FEF;
}

.rightDate {
	font-size: 200px;
	color: #EF5DA8;
}
