.wrapper {
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
  flex-direction: column;
  align-items: center;
	pointer-events: none;
	z-index: 5;
}

.date {
	display: flex;
	gap: 80px;
	font-weight: 800;
	line-height: 1;
}

.leftDate {
	font-size: 200px;
	color: #5D5FEF;
}

.rightDate {
	font-size: 200px;
	color: #EF5DA8;
}
