.wrapper {
	display: flex;
  flex-direction: column;
  align-items: center;    
  width: 100%;
}

.title {
	font-size: 60px;
	text-align: center;
	font-weight: 500;
	color: #5D5FEF;
}

.date {
	position: relative;
	display: flex;
	// padding-top: 10px;
	gap: 100px;
	font-weight: 800;
}

.leftDate {
	font-size: 200px;
	color: #5D5FEF;
}

.rightDate {
	font-size: 200px;
	color: #EF5DA8;
}
