.line {
	border: 1px solid #42567A;
	height: 100%;
	width: 1px;
	position: absolute;
	opacity: 0.1;
}

.line:nth-child(2){
	right: 0;
}

.line:nth-child(3){
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line:nth-child(4){
	width: 100%;
	height: 2px;
	top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
