.wrapper {
	padding-top: 60px;
	padding-right: 40px;
}

.btn {
	width: 35px;
	height: 35px;
	border-radius: 26.087px;
	background: #FFF;
	box-shadow: 0px 4px 20px rgba(26, 26, 182, 0.13);

	display: flex;
	justify-content: center;
	align-items: center;
}
