@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: 'PT Sans', sans-serif;
	background-color: #F4F5F9;
}

body, html {
	height: 100%;
}

.container {
	width: 100%;
	max-width: 1400px;
	height: 100vh;
	margin: 0 auto;
	// padding: 0 15px;
	position: relative;
}
