.date {
	color: #42567A;
	font-size: 14px;
	padding-left: 80px;
}

.slider {
	display: flex;
	padding-left: 80px;
	padding-top: 20px;
	gap: 25px;
}

.sliderLeft {
	width: 50px;
	height: 50px;
	border-radius: 26.087px;
	border: 1px solid #42567A;
	opacity: 0.5;
	

	display: flex;
	justify-content: center;
	align-items: center;
}

.sliderLeft:hover {
	opacity: 1;
}

.sliderRight {
	width: 50px;
	height: 50px;
	border-radius: 26.087px;
	border: 1px solid #42567A;
	opacity: 0.5;

	display: flex;
	justify-content: center;
	align-items: center;
}

.sliderRight:hover {
	opacity: 1;
}
